<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/mwsace2?autoReconnect=true</property>
    <property name="hibernate.connection.autoReconnect">true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <property name="show_sql">false</property>
    <property name="hibernate.c3p0.min_size">10</property>
    <property name="hibernate.c3p0.max_size">200</property>
    <property name="hibernate.c3p0.max_statements">100</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hibernate.c3p0.validationQuery">SELECT 1</property>
    <mapping class="de.unihannover.l3s.mws.model.Track" />
    <mapping class="de.unihannover.l3s.mws.model.Utente" />
    <mapping class="de.unihannover.l3s.mws.model.Ricerca" />
    <mapping class="de.unihannover.l3s.mws.model.Risultati" />
    <mapping class="de.unihannover.l3s.mws.model.Generalsettings" />
    <mapping class="de.unihannover.l3s.mws.model.Storyboard" />
    <mapping class="de.unihannover.l3s.mws.model.StoryboardItem" />    
    <mapping class="de.unihannover.l3s.mws.model.SiteSet" />
    <mapping class="de.unihannover.l3s.mws.model.SiteSetItem" />
  </session-factory>
</hibernate-configuration>
